<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">
    <h1>Users</h1>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Avatar</th>
          <th colspan="3">User Name</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <tr>
            <td><%= user.id %></td>
            <td><img src="<%= user.avatar %>"></td>
            <td><a href="users/<%= user.id %>"><%= user.user %></a></td>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/users/new">Add New User</a>
  </div>
</body>
</html>
